/* css reset*/
*{margin: 0;padding: 0;box-sizing: border-box;}
*:before,:after{box-sizing: border-box;}
ul,ol{list-style: none;}
img{
    max-width: 100%; 
    max-height: 100%;
}
a{
    text-decoration: none;
    color:#000;
}
/*style*/
body{
  background:rgb(238,237,239)
}
.globalHeader{
    margin: 20px;
}
@media (min-width:500px){
    .globalHeader{
        margin: 60px 0 100px;
    }
}
.searchform{
    display: flex;
    justify-content: space-between;
margin: 20px;
}
@media (min-width: 500px) {
    .searchform{
max-width: 500px;
margin-left: auto;
margin-right:auto ;
    }
}
.searchform > input{
    border: 1px solid #ddd;
width: 100%;
margin-right: 10px;
height: 40px;
padding: 0 45px;
border-radius: 5px;
background:url(../img/baidu.jpg) ;
background-size: 35px;
background-repeat: no-repeat;
background-color: white;
}
.searchform > button{
    white-space: nowrap;
    padding: 0px 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background: rgb(50, 69, 223);
    color: white;
}

.globalMain{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.siteList{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}
@media (min-width :500px) {
    .siteList{
        margin-left: 0;
        margin-right: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }  
}
.siteList > li{
    margin-bottom:10px; 

}
@media (min-width:500px){
    .siteList > li{
        margin-right: 25px;
    }
}
.siteList .site{
    cursor:pointer;
    border-radius: 5px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 20px 0;
    border: 1px solid #ddd;
    position: relative;
}
.siteList .site > .logo{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.siteList .site > .link{
    font-size: 15px;
    margin-top: 5px;
}
.siteList .site > .close{
position: absolute;
right: 0;
top: 0;
display: none;
}
.siteList .site:hover > .close{
    display: block;
}
.siteList .site > .close > .closeImg{
    width: 20px;
    cursor: default;
    
} 
.siteList .addButton{
 width: 160px;
 padding: 20px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background:white;
 border-radius: 5px;
border: 1px solid #ddd;
}
.siteList .addButton .icon{
    width: 64px;
    height: 64px;
background: url(../img/add.png) no-repeat;
background-size:64px; 
}
.siteList .addButton .text{
    font-size: 15px;
    margin-top: 5px;
}
